@font-face {
	font-family: "Inter", sans-serif;
	src: url("assets/fonts/Inter.ttf");
}
@font-face {
	font-family: "Merriweather", serif;
	src: url("assets/fonts/Merriweather.ttf");
}
@import "assets/styles/nullstyle.scss";
@import "assets/styles/style_header.scss";
@import "assets/styles/style_main.scss";
@import "assets/styles/style_footer.scss";

$color_white: #ffffff;
$color_black: #000000;
$color_gold: #bdae82;
$color_button_activ: #332e20;

$font_normal: 20px;
$font_normal_less: 18px;

$font_title: 60px;
$font_sub_title: 40px;

$font_price_title: 28px;
$font_price_text: 24px;

:root {
	--background-color: black;
	--text-color: white;
	--subtitle-color: #bdae82;
	--subtitle-text-color: #bdae82;
	--button-activ-text-color: black;
	--button-text-color: #bdae82;
	--button-background-hover: black;
}

html {
	scroll-behavior: smooth;
	box-sizing: border-box;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #332e20;
	font-family: "Inter", sans-serif;
	font-weight: 400;
	background-color: var(--background-color);
}

.wrapper {
	margin: 0 auto;
	max-width: 1440px;
}

.subtitle {
	padding: 140px 0 18px 0;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	&__line {
		width: 700px;
		height: 2px;
		top: 39px;
		background: var(--subtitle-color);
	}
	&__text {
		display: flex;
		padding: 0 20px;
		color: var(--subtitle-text-color);
		font-family: "Merriweather", serif;
		font-size: $font_sub_title;
		font-weight: 700;
		line-height: 2em;
		background-color: var(--background-color);
		position: relative;
		bottom: 43px;
		z-index: 1;
	}
}

//================================================================================= 1024px
@media (max-width: 1024px) {
	//================ header - start
	.hero {
		position: absolute;
		top: 240px;
		left: 70px;
		width: 410px;
		height: 270px;
		&__title-container {
			.title {
				font-size: 46px;
			}
		}
		&__text-container {
			.text-title {
				line-height: 1.7em;
			}
		}
		&__button-container {
			margin-top: 38px;
		}
	}
	//================ header - finish

	//================ main-skills - start
	.main {
		.section-skills {
			padding: 0 25px;
			&__items {
				display: flex;
				flex-wrap: wrap;
				row-gap: 50px;
			}
			&__item {
				flex: 0 1 50%;
				display: flex;
				flex-direction: column;
				gap: 5px;
			}
		}
	}
	//================ main-skills - finish

	//================ main-portfolio - start
	.main {
		.section-portfolio {
			margin-top: -10px;
			&__buttons {
				padding: 5px 10px 0 10px;
				display: flex;
				flex-wrap: wrap;
				gap: 5px;
			}
			&__button {
				flex: 0 1 40%;
			}
			&__items {
				display: flex;
				flex-wrap: wrap;
				gap: 5px;
			}
			&__item {
				flex: 0 1 49.6%;
			}
			&__image {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
	//================ main-portfolio - finish

	//================ Video - start
	.main {
		.section-video {
			.video-box {
				padding: 0;
				&__img {
					width: 70%;
				}
			}
		}
	}
	//=== Video - finish

	//=== Price - start
	.main {
		.section-price {
			padding: 0 20px;
			&__wrapper {
				display: flex;
				flex-direction: column;
				gap: 60px;
			}
			&__container {
				width: 60%;
				align-self: center;
			}
		}
	}
	//=== Price - finish

	//=== Contacts - start
	.main {
		.section-contacts {
			margin-top: 90px;
			background-size: cover;
			padding: 0;
			height: 680px;
			display: flex;
			justify-content: center;
			align-items: center;
			&__subtitle {
				align-self: center;
			}
			&__container {
				width: 450px;
				height: 445px;
				display: flex;
				flex-direction: column;
				gap: 60px;
			}
			&__button-form {
				margin-top: 20px;
				align-self: center;
			}
		}
	}
	//=== Contacts - finish
	//===================== Main - finish

	//===================== Footer - start
	.footer {
		height: auto;
		padding: 35px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;
		&__section {
			display: flex;
			gap: 20px;
		}
	}
	//===================== Footer - finish
}
//================================================================================== 768px
@media (max-width: 768px) {
	.subtitle {
		padding: 120px 0 43px 0;
		&__line {
			width: 364px;
			height: 2px;
			top: 34px;
			background: $color_gold;
		}
		&__text {
			padding: 0 20px;
			font-size: 32px;
			line-height: 1.25em;
			position: relative;
			bottom: 23px;
			z-index: 1;
		}
	}

	//===================== Header - start
	.box-header {
		height: 590px;
	}
	.header {
		padding: 0 65px 0 60px;
		&__bar {
			gap: 20px;
			.navigation {
				display: block;
				width: 80.73%;
				height: 1024px;
				position: absolute;
				z-index: 4;
				top: -1024px;
				right: 0;
				background-color: var(--background-color);
				transition-duration: 0.5s;
				&__list {
					padding: 127px 0 0 128px;
					display: flex;
					flex-direction: column;
					font-size: 35px;
					line-height: 2.52em;
					gap: 0;
				}
				&__item {
					overflow: auto;
				}
				&__link {
					color: var(--text-color);
				}
			}
			.language {
				gap: 15px;
			}
			.menu {
				position: relative;
				z-index: 5;
				display: flex;
				align-self: center;
				flex-direction: column;
				gap: 8px;
			}
		}
	}

	//=== menu-burger - start
	.header__bar .navigation.active {
		top: 0;
	}
	.header__bar .menu.active div.menu__item-top {
		background-color: var(--text-color);
		position: relative;
		transform: rotate(45deg);
		top: 6px;
	}
	.header__bar .menu.active div.menu__item-center {
		background-color: var(--text-color);
		display: none;
	}
	.header__bar .menu.active div.menu__item-bottom {
		background-color: var(--text-color);
		position: relative;
		transform: rotate(-45deg);
		bottom: 6px;
	}
	//=== menu-burger - finish

	.hero {
		position: absolute;
		top: 167px;
		left: 60px;
		width: 390px;
		height: 270px;
		&__container {
			gap: 20px;
		}
		&__title-container {
			.title {
				font-size: 32px;
				font-weight: 400;
			}
		}
		&__text-container {
			.text-title {
				line-height: 1.21em;
			}
		}
		&__button-container {
			margin-top: 40px;
		}
	}

	//===================== header - finish

	//===================== Main - start
	//=== Skills - start
	.main {
		.section-skills {
			margin-bottom: 69px;
			padding: 0 38px;
			&__items {
				display: flex;
				flex-wrap: wrap;
				row-gap: 58px;
			}
			&__item {
				padding: 0 12px;
				flex: 0 1 50%;
				display: flex;
				flex-direction: column;
				gap: 5px;
			}
			&__image {
				height: 50px;
				margin-bottom: 20px;
			}
			&__link {
				padding: 0 20px;
			}
			&__text {
				padding: 20px;
				line-height: 1.21em;
			}
		}
	}
	//=== Skills - finish

	//=== Portfolio - start
	.main {
		.section-portfolio {
			margin: -10px 0 10px 0;
			&__buttons {
				padding: 5px 50px 0 50px;
				display: flex;
				flex-wrap: wrap;
				gap: 5px;
			}
			&__button {
				flex: 0 1 220px;
			}
			&__items {
				margin: 47px 13px -23px 13px;
				display: block;
			}
			&__item {
				padding: 11px;
				margin-bottom: -2px;
			}
			&__image {
				display: block;
				width: 63%;
				height: 100%;
				margin: 0 auto;
			}
		}
	}
	//=== Portfolio - finish

	//=== Video - start
	.main {
		.section-video {
			margin-top: 8px;
			.video-box {
				margin-top: 5px;
				padding: 0;
				height: 420px;
				&__video {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				&__img {
					width: 50%;
				}
			}
		}
	}
	//=== Video - finish

	//=== Price - start
	.main {
		.section-price {
			padding: 4px 20px 0px 20px;
			&__wrapper {
				display: flex;
				flex-direction: column;
				gap: 54px;
			}
			&__container {
				width: 58%;
				align-self: center;
			}
		}
	}
	//=== Price - finish

	//=== Contacts - start
	.main {
		.section-contacts {
			margin-top: 84px;
			background-size: cover;
			padding: 0;
			height: 600px;
			display: flex;
			justify-content: center;
			align-items: center;

			&__subtitle {
				font-size: 32px;
				line-height: 1em;
				align-self: center;
			}
			&__container {
				width: 450px;
				height: 445px;
				display: flex;
				flex-direction: column;
				gap: 55px;
			}
			&__item-form {
				padding: 3px 0 3px 18px;
			}
			&__button-form {
				margin-top: 15px;
				align-self: center;
			}
		}
	}
	//=== Contacts - finish
	//===================== Main - finish

	//===================== Footer - start
	.footer {
		height: auto;
		padding: 28px 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 17px;
		&__section {
			display: flex;
			gap: 20px;
		}
		&__text {
			padding: 0 1px;
			line-height: 1.21em;
		}
		&__image {
			padding: 11px 0 0 0;
		}
	}
	//===================== Footer - finish
}
//================================================================================== 592px
@media (max-width: 592px) {
	body.lock {
		overflow: hidden;
	}
	.subtitle {
		padding: 90px 0 40px 0;
		&__line {
			width: 300px;
			height: 2px;
			top: 28px;
		}
		&__text {
			font-size: 28px;
			position: relative;
			bottom: 20px;
			z-index: 1;
		}
	}

	//===================== Header - start
	.box-header {
		height: auto;
	}
	.header {
		padding: 0 35px;
		position: fixed;
		top: 0;
		left: 0;
		height: 58px;
		width: 100%;
		z-index: 7;
		background-color: rgba(0, 0, 0, 0.7);
		&__bar {
			.navigation {
				width: 100%;
				height: 100%;
				position: fixed;
				overflow: auto;
				z-index: 4;
				top: -100%;
				right: 0;
				&__list {
					padding: 120px 80px;
					font-size: 32px;
					gap: 30px;
				}
			}
		}
	}
	.hero {
		top: 100px;
		left: 20px;
		width: 70%;
		&__container {
			gap: 0px;
		}
		&__title-container {
			.title {
				font-size: 30px;
				line-height: 1.5em;
			}
		}
		&__text-container {
			.text-title {
				line-height: 1em;
			}
		}
		&__button-container {
			margin-top: 20px;
		}
		.button-title {
			width: 160px;
			height: 50px;
		}
	}

	//===================== header - finish

	//===================== Main - start
	//=== Skills - start
	.main {
		.section-skills {
			margin-bottom: 60px;
			padding: 0 10px;
			&__items {
				gap: 50px;
			}
			&__item {
				padding: 0 10px;
				flex: 0 1 100%;
			}
			&__image {
				height: 50px;
				margin-bottom: 20px;
			}
			&__link {
				padding: 0 20px;
			}
			&__text {
				padding: 20px 15%;
			}
		}
	}
	//=== Skills - finish

	//=== Portfolio - start
	.main {
		.section-portfolio {
			margin: -60px 0 0 0;
			&__image {
				// display: block;
				width: 90%;
				// height: 100%;
				// margin: 0 auto;
			}
		}
	}
	//=== Portfolio - finish

	//=== Video - start
	.main {
		.section-video {
			margin-top: 10px;
			.video-box {
				margin-top: 5px;
				padding: 0;
				height: auto;
				&__img {
					width: 30%;
				}
			}
		}
	}
	//=== Video - finish

	//=== Price - start
	.main {
		.section-price {
			padding: 0 10px;
			&__wrapper {
				gap: 50px;
			}
			&__container {
				width: 75%;
			}
		}
	}
	//=== Price - finish

	//=== Contacts - start
	.main {
		.section-contacts {
			margin-top: 60px;
			background-size: cover;
			padding: 15px;
			height: 520px;
			&__subtitle {
				font-size: 28px;
			}
		}
	}
	//=== Contacts - finish
	//===================== Main - finish
}

//================================================================================== 480px
@media (max-width: 480px) {
	.wrapper {
		min-width: 318px;
	}
	//===================== Header - start

	.header {
		padding: 0 20px;
		height: 50px;
		&__logo {
			.image {
				width: 75%;
			}
		}
		&__bar {
			.change-bg {
				&__image {
					width: 75%;
				}
			}
		}
	}
	.hero {
		top: 40%;
		&__text-container {
			display: none;
		}
		&__button-container {
			margin-top: 15px;
		}
		.button-title {
			width: 120px;
			height: 40px;
		}
	}
	//===================== header - finish

	//===================== Main - start
	//=== Price - start
	.main {
		.section-price {
			padding: 0 10px;
			&__container {
				width: 85%;
			}
			&__box {
				.price-box-button {
					width: 170px;
					height: 50px;
				}
			}
		}
	}
	//=== Price - finish

	//=== Contacts - start
	.main {
		.section-contacts {
			margin-top: 60px;
			background-size: cover;
			padding: 15px;
			height: 480px;
			&__subtitle {
				font-size: 28px;
			}
			&__button-form {
				width: 170px;
				height: 50px;
			}
		}
	}
	//=== Contacts - finish
	//===================== Main - finish
}
