$color_white: #ffffff;
$color_black: #000000;
$color_gold: #bdae82;
$color_button_activ: #332e20;

$font_normal: 20px;
$font_normal_less: 18px;

$font_title: 60px;
$font_sub_title: 40px;

$font_price_title: 28px;
$font_price_text: 24px;

:root {
	--background-color: black;
	--text-color: white;
	--subtitle-color: #bdae82;
	--subtitle-text-color: #bdae82;
	--button-activ-text-color: black;
	--button-text-color: #bdae82;
	--button-background-hover: black;
}

.main .section-portfolio__button.button-activ {
	background-color: $color_gold;
	color: var(--button-activ-text-color);
	&:hover,
	&:focus {
		color: var(--button-activ-text-color);
		background-color: #bdae82;
	}
}

.main {
	.section-skills {
		&__items {
			display: flex;
			justify-content: space-between;
			margin-bottom: 10px;
		}
		&__item {
			padding: 0 10px;
			flex: 0 1 100%;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		&__image {
			height: 50px;
			margin-bottom: 50px;
		}
		&__link {
			padding: 0 20px;
			font-size: $font_normal;
			font-weight: 700;
			line-height: 2em;
			text-align: center;
			color: var(--text-color);
			cursor: pointer;
			transition-duration: 0.3s;
			&:hover,
			&:focus {
				color: $color_gold;
			}
			&:active {
				opacity: 0.65;
			}
		}
		&__text {
			padding: 0 20px;
			font-size: $font_normal_less;
			line-height: 2em;
			text-align: center;
			color: var(--text-color);
		}
	}
	.section-portfolio {
		margin-top: -10px;
		&__buttons {
			display: flex;
			justify-content: center;
			gap: 5px;
		}
		&__button {
			width: 220px;
			height: 55px;
			background-color: var(--background-color);
			border: 2px solid $color_gold;
			color: var(--button-text-color);
			font-size: $font_normal;
			transition-duration: 0.3s;
			&:hover,
			&:focus {
				color: $color_white;
				background-color: var(--button-background-hover);
			}
			&:active {
				opacity: 0.65;
			}
		}
		&__items {
			margin: 60px 13px 0 13px;
			display: flex;
			flex-wrap: wrap;
		}
		&__item {
			flex: 1 0 33.33%;
			padding: 12px;
		}
		&__image {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	.section-video {
		.video-box {
			padding: 0 20px;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			&__video {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			&__icon {
				position: absolute;
				background: none;
			}
			&__img {
				cursor: pointer;
				transition-duration: 0.3s;
				&:hover,
				&:focus {
					filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
				}
				&:active {
					filter: invert(1%) sepia(20%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
				}
			}
		}
	}
	.section-price {
		padding: 0 20px;
		&__wrapper {
			display: flex;
			gap: 25px;
		}
		&__container {
			flex-grow: 1;
			border: 3px solid $color_gold;
			padding: 38px 0;
		}
		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 20px;
			.price-box-title {
				font-family: "Merriweather", serif;
				font-size: $font_price_title;
				line-height: 2em;
				font-weight: 700;
				color: var(--text-color);
			}
			.price-box-price {
				font-family: "Merriweather", serif;
				font-size: $font_price_text;
				line-height: 2em;
				font-weight: 700;
				color: $color_gold;
			}
			.price-box-text {
				&__list {
					font-size: $font_normal_less;
					line-height: 2em;
					color: var(--text-color);
					display: flex;
					flex-direction: column;
					align-items: center;
				}
			}
			.price-box-button {
				margin-top: 20px;
				width: 220px;
				height: 55px;
				cursor: pointer;
				border: 0;
				background-color: $color_gold;
				font-size: $font_normal;
				line-height: 2em;
				color: $color_black;
				transition-duration: 0.3s;
				&:hover,
				&:focus {
					color: $color_white;
				}
				&:active {
					opacity: 0.65;
				}
			}
		}
	}
	.section-contacts {
		margin-top: 100px;
		background: url("assets/img/bg_contacts.jpg");
		background-repeat: no-repeat;
		background-position: center 0;
		height: 700px;
		display: flex;
		flex-direction: row-reverse;
		padding: 60px 20px 0 0;
		&__subtitle {
			font-family: "Merriweather", serif;
			font-size: $font_sub_title;
			line-height: 2em;
			font-weight: 700;
			color: $color_gold;
		}
		&__container {
			width: 450px;
			height: 445px;
			display: flex;
			flex-direction: column;
			gap: 40px;
		}
		&__list-form {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}
		&__item-form {
			border: 3px solid $color_gold;
			padding: 5px 0 5px 20px;
			font-size: $font_normal;
			line-height: 2em;
			color: $color_gold;
			background: none;
			resize: none;
			&::placeholder {
				color: $color_gold;
			}
		}
		&__button-form {
			margin-top: 10px;
			width: 220px;
			height: 55px;
			cursor: pointer;
			border: 0;
			background-color: $color_gold;
			font-size: $font_normal;
			line-height: 2em;
			color: $color_black;
			transition-duration: 0.3s;
			&:hover,
			&:focus {
				color: $color_white;
			}
			&:active {
				opacity: 0.65;
			}
		}
	}
}
